SKIP_PREFLIGHT_CHECK=true

# https://create-react-app.dev/docs/setting-up-your-editor/#experimental-extending-the-eslint-config
EXTEND_ESLINT=true

# api prefix
REACT_APP_K8S_API_PERFIX=http://localhost:3010

# api version
REACT_APP_K8S_API_VERSION=v1alpha1

# use mock api backend for development and test
REACT_APP_USE_MOCK_API=false

# display some debug info/component; register debug middlewares/plugins
REACT_APP_DEBUG=true

REACT_APP_ENABLE_SENTRY=true
REACT_APP_NAME=$npm_package_name
REACT_APP_VERSION=$npm_package_version
REACT_APP_SENTRY_DSN=https://b8806c44a9004c6b96d6ce4c7bf54a2d@o453986.ingest.sentry.io/5443275
SENTRY_AUTH_TOKEN=XXXXXXXXXXX
SENTRY_ORG=kalmtest
SENTRY_PROJECT=kalmfe