.container {
  padding: 24px;
  color: white;
  height: 160px;
  /* box-sizing: border-box; */
  background-color: #039be5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container h3 {
  font-size: 20px;
  margin-top: 14px;
}
