body {
    margin: 0;
    font-family: "Lato", "Roboto", "Helvetica", "Arial", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: "#e5e5e5";
    height: auto;
}

#root {
    height: 100vh;
}

.ps__rail-y {
    z-index: 99999;
}

a {
    text-decoration-line: none;
}

code,
pre {
    margin: 0;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
